.project-container {
  width: 100%;
  height: 100%;
  background-color: chartreuse;
  .project-container__title {
    width: 100%;
    height: 5rem;
  }
  .project-container__content {
    .project-container__content__projects {
      height: 40%;
      border: 0.5px solid black;
    }
  }
  .versionA {
    width: 60%;
  }
  .versionB {
    width: 30%;
  }
}
