@import '../../scss/settings/colors';
@import '../../scss/settings/mixins';

.website-container {
  width: 100%;
  height: 100%;
  .website-container__main-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .website-container__project {
      height: 22rem;
      margin-top: 2rem;
      border: 0.5px solid $base-font-color;
      position: relative;
      .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .mpr {
        max-width: 11.5rem;
      }
      .raiden {
        max-width: 6.5rem;
      }
      .ola {
        max-width: 16.5rem;
      }
      .wzzr {
        max-width: 18.5rem;
      }
      &:hover {
        background-color: $hover-background-color;
        .logo {
          fill: white;
        }
      }
    }
    .versionA {
      width: 57%;
    }
    .versionB {
      width: 35%;
    }
  }
}
