@import '../../scss/settings/colors';

.loadingPage-container {
  width: 100%;
  height: 100%;

  .loadingPage-container__main {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hiedeContainer 5s forwards;
    background-color: $hover-background-color;
    h1 {
      font-size: 3rem;
      color: $hover-font-color;
      animation: titleAnimation 1.5s forwards;
      animation-delay: 3.5s;
    }
  }
  .loadingPage-container__progress {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $base-background-color;
    animation: content1 5s forwards;
  }
}
@keyframes content1 {
  0% {
    right: 0;
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes hiedeContainer {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}

@keyframes titleAnimation {
  0% {
    color: $hover-font-color;
  }
  100% {
    color: $hover-background-color;
  }
}
