.about-us-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  // background-color: transparent;
  overflow: hidden;

  // background: transparent;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
  // cursor: default;

  .card1,
  .card2,
  .card3,
  .card4 {
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    will-change: transform;
  }

  .card1 {
    min-width: 40rem;
    min-height: 40rem;
    width: 100%;
    height: 100%;
    max-width: 45rem;
    max-height: 45rem;
    background-image: url('../../assets/logo.svg');
    background-size: contain;
  }

  .card2 {
    width: 15rem;
    height: 10rem;
    background-color: chartreuse;
    font-size: 2rem;
  }

  .card3 {
    opacity: 0.9;
    width: 25ch;
    height: 25ch;
    background: violet;
  }

  .card4 {
    width: 25ch;
    height: 25ch;
    background: yellow;
  }

  .container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    overflow: hidden;
    background-color: red;
  }
}
