@import '../../scss/settings/fonts';
@import '../../scss/settings/colors';
.header-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .header-section__sectioon-container {
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.5px solid black;
    overflow: hidden;

    .header-section__sectioon-container__content {
      background-color: $hover-background-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      p {
        width: 20rem;
        position: absolute;
        top: 48%;
        text-align: center;
        font-size: 1.5rem;
        color: $base-font-color;
        font-family: $fontBase;
        z-index: 2;
      }
      img {
        width: auto;
        height: 100%;
        position: absolute;
        opacity: 0;
        z-index: 1;
      }
    }
    &:hover {
      .header-section__sectioon-container__content {
        animation: fillContainer 0.5s forwards;
        p {
          animation: textContainer 0.5s forwards;
        }
        img {
          animation: imgContainer 5s forwards;
          animation-delay: 1s;
          transform: translateX(-20%);
          transition: 15s;
        }
      }
    }
  }

  @keyframes fillContainer {
    0% {
      width: 0;
      height: 0%;
      border-radius: 50%;
    }
    50% {
      border-radius: 50%;
    }
    80% {
      border-radius: 15%;
    }
    100% {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  @keyframes textContainer {
    0% {
      color: $base-font-color;
    }
    100% {
      color: $hover-font-color;
    }
  }
  @keyframes imgContainer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
