.navbar-container {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  // padding: 1rem 2rem;
  background-color: white;
  padding-top: 1rem;
  z-index: 100;
  overflow: hidden;
  // .menu-items {
  //   display: flex;
  //   flex-direction: row;
  //   // position: fixesd;
  //   justify-content: space-evenly;
  //   width: 50%;
  //   li {
  //     transition: 0.5s;
  //     list-style: none;
  //     a {
  //       text-decoration: none;
  //       color: black;
  //     }
  //     &:hover {
  //       transform: scale(1.5);
  //     }
  //   }
  // }
  .navbar-container__logo {
    font-size: 3rem;
    transition: 1s;
    .logo {
      width: 2.5rem;
      padding-left: 1rem;
      // .st0 {
      //   fill: blue;
      // }
    }
  }
  .navbar-container__title {
    font-size: 2rem;
    transition: 1s;
    text-transform: uppercase;
    img {
      width: 4rem;
    }
  }
  .navbar-container__hamburger {
    transition: 1s;
    .icon {
      width: 2.5rem;
      padding-right: 1rem;
    }
  }
}

.active-navbar {
  border-bottom: 1px solid black;
}
