@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.navbar-container {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  position: fixed;
  z-index: 10;
  .navbar-container__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: $hover-background-color;
  }
  .active-title {
    animation: title-animation 0.5s forwards;
    animation-delay: 0.3s;
  }
  .navbar-container__hamburger {
    .icon {
      width: 2.5rem;
      padding-right: 1rem;
    }
  }
}
.active-navbar {
  animation: navbar-animation 0.5s forwards;
}

@keyframes navbar-animation {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $hover-font-color;
  }
}

@keyframes title-animation {
  0% {
    color: $hover-background-color;
  }
  100% {
    color: $hover-font-color;
  }
}
