@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.navbar-container {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0;
  z-index: 10;
  .navbar-container__logo {
    font-size: 3rem;
    transition: 1s;
    z-index: 100;
    .logo {
      width: 2.5rem;
      padding-left: 1rem;
      z-index: 100;
      fill: brown;
    }
    .active-logo {
      animation: logo-animation 2s forwards;
    }
  }
  .navbar-container__title {
    font-size: 2rem;
    transition: 1s;
    text-transform: uppercase;
  }
  .navbar-container__hamburger {
    transition: 1s;
    .icon {
      width: 2.5rem;
      padding-right: 1rem;
      transition: 1s;
    }
  }
}
.active-navbar {
  animation: navbar-animation .5s forwards;
}

@keyframes navbar-animation{
  0%{
    background-color: transparent;
  }
  100%{
     background-color: white;
  }
}

@keyframes logo-animation {
  0% {
    fill: brown;
  }

  100% {
    fill: white;
  }
}
