@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.navList-Container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  .navList-Container__holder {
    display: none;
    .navList-Container__item {
      text-decoration: none;
      color: $hover-font-color;
      color: black;
      font-size: 1.5rem;
      position: absolute;
      top: 1rem;
      left: 0;
      &:nth-child(1) {
        left: 10%;
      }
      &:nth-child(2) {
        left: 18%;
      }
      &:nth-child(3) {
        left: 30%;
      }
      &:nth-child(4) {
        left: 45%;
      }
      &:nth-child(5) {
        left: 65%;
      }
      &:nth-child(6) {
        left: 75%;
      }
    }
  }
  .navList-Container__decoration-bar {
    background-color: $hover-background-color;
    right: -100%;
    animation: hideNavbar 1s forwards;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.active-navbar {
  .navList-Container__holder {
    display: block;
    z-index: 10;
    .navList-Container__item {
      text-decoration: none;
      color: $hover-font-color;
      font-size: 1.5rem;
      z-index: 10;
    }
  }
  .navList-Container__decoration-bar {
    animation: showNavbar 1s forwards;
  }
}

@keyframes showNavbar {
  0% {
    right: -100%;
  }
  10% {
    display: block;
  }
  100% {
    right: 0;
  }
}

@keyframes hideNavbar {
  0% {
    right: 0;

  }
  100% {
    right: -100%;
    
  }
}

@keyframes test {
  0% {
    display: block;
  }
  90% {
    display: block;
  }
  100% {
    display: none;
  }
}
