@import '../scss/settings/colors';

.main-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  .main-container__content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $base-background-color;
    transform: scale(0);
    opacity: 0;
    z-index: 2;
  }
  .show {
    animation: showMainContnent 2s forwards;
    display: block;
  }
}
@keyframes showMainContnent {
  0% {
    transform: scale(0);
    opacity: 0;
    display: none;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    display: block;
  }
}
