@import '../scss/settings/colors';

.main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .main-container__content {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $base-background-color;
    opacity: 0;
    z-index: 2;
  }
  .show {
    animation: showMainContnent 1.5s forwards;
    display: block;
  }
}
@keyframes showMainContnent {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
