@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.virtual-identification-container {
  width: 100%;
  height: 84.5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  .virtual-identification-container__content {
    width: 20rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
    &:hover {
      transform: scale(1.1);
      transition: 1s;
      -webkit-box-shadow: 0px 0px 15px 0px $hover-border-color;
      box-shadow: 0px 0px 15px 0px $hover-border-color;
    }
    .img {
      width: 80%;
      height: 20%;
      background-color: $hover-background-color;
    }

    h1 {
      font-size: 2rem;
      color: $hover-background-color;
    }
    h2 {
    }
    ul {
      height: 40%;
      li {
        margin-top: 1rem;
      }
    }
  }
}
