@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.hamburgerMenu {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  // transition: all 0.5s ease-in-out;
  text-align: unset;
  z-index: 100;
  flex-direction: column;
  justify-content: space-evenly;

  .burgerBtn {
    width: 2.5rem;
    height: 0.1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    // transition: all 0.5s ease-in-out;

    // &::before,
    // &::after {
    //   content: '';
    //   position: absolute;
    //   width: 3rem;
    //   height: 0.15rem;

    //   border-radius: 0.5rem;
    //   box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    //   transition: all 0.5s ease-in-out;
    // }
    // &::before {
    //   transform: translateY(-16px);
    // }
    // &::after {
    //   transform: translateY(16px);
    // }
    &:nth-child(1) {
      height: 0.05rem;
    }
  }
}
// .open {
//   .burgerBtn {
//     transform: translateX(-50px);
//     background: transparent;
//     box-shadow: none;
//     &::before {
//       transform: rotate(45deg) translate(35px, -35px);
//     }
//     &::after {
//       transform: rotate(-45deg) translate(35px, 35px);
//     }
//   }
// }
