@import 'src/scss/settings/mixins';
@import 'src/scss/settings/colors';

.virtualTour-container {
  width: 100vw;
  height: 84.5vh;
  display: flex;
  .virtualTour-container__content {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    .imgWalk {
      width: 80%;
      height: 50%;
      background-color: $hover-background-color;
    }
    .title {
      font-size: 2rem;
    }
    .text {
      width: 60%;
      font-size: 1.5rem;
    }
    .button {
      border: 1px solid $hover-background-color;
      height: 4rem;
      width: 20rem;

      p {
        margin-top: 1rem;
        text-align: center;
        color: $hover-background-color;
        font-size: 2rem;
      }

      &:hover {
        background-color: $hover-background-color;
        p {
          color: white;
        }
      }
    }
  }
}

